body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@media screen and (max-width:600px) {
  .App{
    margin: 0px;
  }
  
}